  body{
    background-color: rgb(55, 109, 125);
}
  .input-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: auto;
}
input{
  margin: 4px;
  width: 200px;
  padding: 8px 20px;
  border-radius: 5px;
  text-align: center;
}
  .modal-buttons{
    width: 80px;
}
  .input-button{
    background-color: aqua;
  }
